.disini {
	color: red;
}
.disini:hover {
	color: blue;
	cursor: pointer;
}
.button {
	border-radius: 20px;
	padding: 10px;
	outline: none;
}
.login {
	border-radius: 10px;
	padding: 10px;
	background-color: black;
	color: white;
	outline: none;
	cursor: pointer;
	border: none;
}
.login:hover {
	color: black;
	background-color: green;
	outline: none;
}
.login:focus {
	background-color: blue;
}
.title-login {
	font-family: 'Times New Roman', sans-serif;
}
#com1 {
	background-color: white;
}
#com2 {
	background-color: red;
	color: white;
}
.worning {
	margin-top: 40px;
	color: red;
}
.img-height {
	width: 100%;
	height: 400px !important;
}
.loclom {
	min-width: 50%;
}
.loclom-out {
	min-width: 100%;
}
.nav-fix {
	position: fixed;
}
.listy {
	color: red;
	background-color: blue;
}
.listy:hover {
	background-color: yellow;
}
.listy:focus {
	background-color: yellow;
}
.btnup {
	position: absolute;
}
.btn-up {
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: black;
	color: red;
	position: fixed;
	right: 0;
	bottom: 0;
	border-radius: 50px;
    width: 56px;
    height: 50px;
}